/** @format */
.layout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 23px 0 25px 0;
  .recomment-title {
    font-weight: 500;
    font-size: 24px;
    color: #11142d;
  }
}
.recomment-container {
  display: flex;
  background: white;
  margin-top: -30px;
  .recomment-swiper {
    cursor: pointer;
    background-color: white;
    border-radius: 16px;
    // height: 190px;
  }
  .recomment-content {
    display: flex;
    gap: 15px;
    .recomment-tag {
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px;
      align-items: center;
      width: 201px;
      .tags {
        cursor: pointer;
        width: max-content;
        background: rgba($color: #6c5dd3, $alpha: 0.1);
        border-radius: 5px;
        font-weight: 700;
        font-size: 13px;
        color: #3f8cff;
      }
    }
    .information {
      display: flex;
      gap: 10px;
    }
    .recomment-infro {
      background: white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 12px;
      .name {
        font-weight: 700;
        font-size: 14px;
        color: #11142d;
      }
      .follower,
      .video {
        color: #11142d;
        font-weight: 500;
        font-size: 12px;
      }
      .btn {
        background: #6c5dd3;
        border-radius: 16px;
        color: white;
        font-weight: 700;
        font-size: 14px;
        outline: none;
        border: none;
        width: 160px;
        height: 28px;
        cursor: pointer;
      }
    }
  }
  .recomment-avata {
    border-radius: 25px;
    background: #ffce73;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 50%;
    }
  }
}
