/** @format */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 339px;
  gap: 55px;
  .title {
    font-weight: 700;
    font-size: 18px;
    color: #11142d;
    text-decoration: none;
  }
  .title:hover {
    text-decoration: underline;
    color: #6c5dd3;
  }
  author {
    font-weight: 500;
    font-size: 13px;
    color: #11142d;
  }
}
