/** @format */
.posts {
  width: 751px;
  margin: 0 0 30px 34px;
  .author {
    display: flex;
    gap: 8px;
    margin-bottom: 18px;
    span {
      color: #11142d;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 6px;
    }
    .time {
      font-weight: 500;
      font-size: 12px;
      color: #808191;
    }
    img {
      width: 48px;
      height: 48px;
    }
  }
  .title {
    width: 421px;
    font-weight: 500;
    font-size: 18px;
    color: #11142d;
    margin-bottom: 8px;
  }
  .content {
    font-weight: 600;
    font-size: 14px;
    color: #808191;
    width: 456px;
    height: 66px;
    display: inline-block;
  }
  .post-content {
    margin-right: 8px;
  }
}
