/** @format */

.input-search {
  width: 432px;
  height: 64px;
  border-radius: 16px;
  border: none;
  outline: none;
  padding: 24px 0 24px 27px;
  background: #e4e4e4;
}
.input-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.input-search::-webkit-input-placeholder {
  font-weight: 700;
  opacity: 0.8;
  color: #808191;
}
